# ==========================================
# PROJECT
# ==========================================
PROJECT_NAME="STT Local CPU"
PROJECT_SLUG="stt_local_cpu"
VERSION="1.0.0"
ENVIRONMENT="development"
CORS_ORIGINS=["*"]

# Base pública única
BASE_PATH="/api/stt_local_cpu"


# ==========================================
# LOGGING
# ==========================================
LOG_LEVEL="DEBUG"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
LOG_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"
LOG_DIR="logs"
LOG_FILENAME="file.log"

# ==========================================
# PLUGIN META
# ==========================================
DISPLAY_NAME="STT Local CPU"
DESCRIPTION="Módulo STT oficial para QueAI"
AUTHOR="Juana Iris && Alejandro Fonseca"
LICENSE="MIT"
LOGO="stt_logo.png"